@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,400italic,700);
section#event {
  background: #36263e;
  overflow: hidden;
  padding-bottom: 0.5em;
}

section#event h2 {
  padding-bottom: 0 !important;
}

section#event .col-md-6 {
  float: left;
  display: inline-block;
}

section#event .col-md-6 img {
  height: 300px;
  width: auto;
  float: right;
  bottom: -108px;
  position: relative;
}

section#event .col-md-6.col-md-6:last-child {
  width: 100%;
  position: absolute;
}

@media (min-width: 2180px) {
  section#event .col-md-6.col-md-6:last-child {
    display: block;
  }
}

@media (max-width: 991px) {
  section#event .mobile {
    display: block !important;
  }
  section#event .desktop {
    display: none;
  }
  section#event .col-md-6 img {
    min-width: 300px;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    bottom: -50px;
    position: relative;
  }
}

#speakers {
  text-align: center;
  background: #2e1e35;
}

#speakers .col-md-4 {
  margin-bottom: 40px;
}

#speakers p {
  margin-top: 0;
}

#speakers p.big-fontsize {
  font-size: 1.2rem;
  margin-top: .5rem;
  margin-bottom: 0;
}

#speakers .hex-wrap {
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
}

#speakers .img {
  cursor: pointer;
  height: 210px;
  width: 210px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 5px;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

#speakers .img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

#speakers .hex-wrap::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url("/assets/img/hex-mask-dark.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  z-index: 1;
  pointer-events: none;
}

#speakers p, #speakers h3, #speakers h4, #speakers h5 {
  font-size: 0.8em;
}

#speakers p.big-fontsize, #speakers h3.big-fontsize, #speakers h4.big-fontsize, #speakers h5.big-fontsize {
  font-size: 1.2rem;
}

#speakers a:hover {
  text-decoration: underline;
}

#speakers .talk-title {
  font-size: 32px;
  margin-top: 32px;
  margin-bottom: 16px;
}

#speakers p.bio {
  font-size: 0.7em;
  height: 52px;
}

#speakers h5 {
  cursor: pointer;
  font-size: 18px;
}

#speakers h4 {
  letter-spacing: 1px;
  margin-top: 0;
}

#speakers h3 {
  margin: 2px;
  color: #fefbff;
  text-transform: uppercase;
}

#speakers #close-box, #speakers #show-box {
  cursor: pointer;
}

#speakers .modal-box {
  width: 500px;
  height: auto;
  position: fixed;
  padding: 10px 20px 50px 20px;
  margin: 0 auto;
  display: none;
  background: #1e1123;
  z-index: 3;
  left: 0;
  top: 10%;
  right: 0;
}

#speakers .modal-box p {
  font-size: 16px;
}

#speakers .modal-box.is-shown {
  display: block;
  box-shadow: 0px 1px 1px 10000px rgba(0, 0, 0, 0.72);
}

@media (max-width: 600px) {
  #speakers .modal-box {
    width: 80%;
  }
}

#schedule .time {
  color: #fefbff;
  margin-right: 20px;
}

#schedule .fringe {
  font-size: 80%;
}

#schedule .fringe h2 {
  padding-bottom: 0;
  margin-right: 10px;
}

section#sponsors {
  background: #36263e;
  text-align: center;
}

section#sponsors a.button.sponsors:after {
  background: #2e1e35 !important;
}

section#sponsors a.button.sponsors:before {
  background: #b8a8bf !important;
}

section#sponsors a.button.sponsors:hover:before {
  background: #b8a8bf !important;
}

section#sponsors a.button.sponsors:hover:after {
  background: #2e1e35 !important;
}

section#sponsors p {
  font-weight: 700;
  margin-bottom: 40px;
  margin-top: 0px;
}

section#sponsors p span {
  color: white;
  font-size: 0.8em;
  font-weight: 100;
}

section#sponsors .event-host {
  margin-bottom: 40px;
}

section#sponsors .event-host .sponsor-img {
  width: 100%;
  height: 100%;
}

section#sponsors .col-xs-3 .sponsor-img {
  margin-top: 2em;
  max-width: 100%;
  width: auto;
  height: auto;
}

section#sponsors .img-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

section#sponsors .row {
  margin-bottom: 2em;
}

#sponsors-page {
  background: #36263e;
}

#sponsors-page p {
  font-size: 0.8em;
  line-height: 1.6em;
}

#sponsors-page .sponsors-table-wrapper {
  overflow-x: auto;
}

#sponsors-page .sponsors-table {
  margin-bottom: 2em;
  border: 1px solid;
}

#sponsors-page .sponsors-table tr td {
  font-weight: normal;
  font-size: 0.7em;
  color: #b8a8bf;
  padding: 5px;
  text-align: center;
  border-right: 1px solid;
  border-top: 1px solid;
}

#sponsors-page .sponsors-table tr td.text-center {
  background-color: #2e1e35;
}

#sponsors-page .sponsors-table tr td:last-child {
  border-right: none;
}

#sponsors-page .sponsors-table tr th {
  color: white;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 0.8em;
  background-color: #2e1e35;
}

#sponsors-page .sponsors-table tr th h4 {
  margin: 14px;
}

#sponsors-page .sponsors-table tr th p {
  font-size: 0.6em;
}

#sponsors-page .sponsors-table tfoot tr td p {
  font-size: 0.9em;
}

@media (max-width: 1024px) {
  #sponsors-page .content {
    padding: 0 1em;
  }
}

@media (max-width: 767px) {
  #sponsors-page .content {
    padding: 0 1em;
  }
  #sponsors-page .table-responsive p {
    text-align: center;
    padding: 0 2em;
  }
  #sponsors-page .sponsors-table {
    width: 100%;
  }
}

section.get-there {
  background: #2e1e35;
}

section.get-there h4 {
  color: white;
}

section.get-there em {
  color: white;
  font-style: normal;
}

section.get-there p, section.get-there li {
  color: #b8a8bf;
}

section.get-there #map {
  margin-top: 20px;
}

@media (max-width: 991px) {
  section.get-there {
    padding-bottom: 0;
  }
  section.get-there .page-wrap {
    text-align: center;
  }
  section.get-there .table-responsive p {
    text-align: center;
  }
}

@media (max-width: 767px) {
  section.get-there {
    padding-bottom: 0;
  }
  section.get-there .page-wrap {
    text-align: center;
  }
}

#venue-location {
  margin-top: 2em;
}

#venue-location .hex-wrap {
  position: relative;
}

#venue-location .bg-img {
  height: 150px;
  width: auto;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 3px;
  padding: 20px;
}

#venue-location .bg-img.big {
  width: 100%;
  height: 250px;
}

@media (max-width: 991px) {
  #venue-location .col-xs-6 {
    margin-bottom: 20px;
  }
}

section#team {
  text-align: center;
  background: #36263e;
}

section#team .col-md-4 {
  margin-bottom: 40px;
}

section#team .hex-wrap {
  position: relative;
}

section#team .bg-img {
  cursor: pointer;
  height: 150px;
  width: 150px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-position: 5px;
  background-size: contain;
  -webkit-filter: grayscale(100%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

section#team .bg-img:hover {
  -webkit-filter: grayscale(0%);
  /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
}

section#team .hex-wrap::after {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  content: '';
  background-image: url("/assets/img/hex-mask1.svg");
  background-position: center center;
  background-repeat: no-repeat;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  z-index: 1;
  pointer-events: none;
}

section#team p, section#team h3, section#team h4 {
  font-size: 0.8em;
}

section#team p.big-fontsize, section#team h3.big-fontsize, section#team h4.big-fontsize {
  font-size: 1.2rem;
}

section#team h3 {
  margin-bottom: 0;
}

section#team p.bio {
  font-size: 0.7em;
}

@media (max-width: 991px) {
  section#team .bg-img {
    height: 120px !important;
    width: 120px !important;
  }
  section#team .col-md-4 {
    margin-bottom: 20px !important;
  }
}

html,
body {
  margin: 0;
  font-family: PT Sans;
  font-size: 1.2em;
  font-weight: 300;
  padding: 0;
  overflow-x: hidden;
  color: #b8a8bf;
  background: #2e1e35;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: #d69d9d;
}

h2, h4 {
  color: white;
  letter-spacing: 2px;
}

ul, li {
  list-style: none;
}

.desktop {
  display: block;
}

.mobile {
  display: none !important;
}

.text-center {
  text-align: center;
}

.page-wrap {
  max-width: 1000px;
  margin: auto;
}

.header {
  background: linear-gradient(318deg, #fdbf61, #f5a16f, #ffa366, #ffa37f, #ff7f7f, #ef9351, #ffa37f, #d098af, #fbae94, #ffb94f, #ffcc66, #ff7f7f, #d8a0bc);
  -moz-animation: SunsetGradient 101s linear infinite;
  -o-animation: SunsetGradient 101s linear infinite;
  animation: SunsetGradient 101s linear infinite;
  background-size: 1000% 1000%;
  padding: 0;
  text-align: center;
  height: 100vh;
}

.header a {
  font-weight: 500;
}

.header .scroll-down {
  width: 25px;
  height: 44px;
  margin: 160px auto 0 auto;
  box-shadow: inset 0 0 0 1px #2e1e35;
  border-radius: 25px;
  position: absolute;
  bottom: 2em;
  margin-left: 49%;
}

.header .scroll-down:before {
  content: '';
  position: absolute;
  width: 4px;
  height: 4px;
  background: #2e1e35;
  margin-left: -2px;
  top: 10px;
  border-radius: 4px;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-name: scroll;
}

@keyframes scroll {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateY(23px);
  }
}

@-webkit-keyframes SunsetGradient {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}

@-moz-keyframes SunsetGradient {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}

@-o-keyframes SunsetGradient {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}

@keyframes SunsetGradient {
  0% {
    background-position: 5% 0%;
  }
  50% {
    background-position: 96% 100%;
  }
  100% {
    background-position: 5% 0%;
  }
}

.header-title {
  font-size: 1.8em !important;
  margin-top: 40px;
  color: #391e45;
}

.wrapper {
  color: #222;
  padding: 1em;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  max-width: 550px;
  max-height: 500px;
}

.wrap {
  margin: 0 auto;
  padding: 2em;
}

.logo {
  max-width: 300px;
}

.logo img {
  max-width: 250px;
  position: relative;
}

.logo::before {
  background-image: url("/assets/img/sun@2x.png");
  opacity: 0.9;
  position: absolute;
  left: 50%;
  margin-top: 125px;
  max-width: 440px;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-background-size: contain;
  -moz-background-size: contain;
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  pointer-events: none;
  content: '';
  width: 180%;
  padding-bottom: 180%;
  -webkit-transition: -webkit-transform 1s, opacity 1s;
  -moz-transition: -moz-transform 1s, opacity 1s;
  -o-transition: -o-transform 1s, opacity 1s;
  -ms-transition: -ms-transform 1s, opacity 1s;
  transition: transform 1s, opacity 1s;
  -webkit-transform-origin: 300% 300%;
  -moz-transform-origin: 300% 300%;
  -o-transform-origin: 300% 300%;
  -ms-transform-origin: 300% 300%;
  transform-origin: 300% 300%;
}

.logo:hover:before {
  -webkit-transform: scale(1.2) translate3d(0, 0, 0);
  -moz-transform: scale(1.2) translate3d(0, 0, 0);
  -o-transform: scale(1.2) translate3d(0, 0, 0);
  -ms-transform: scale(1.2) translate3d(0, 0, 0);
  transform: scale(1.2) translate3d(0, 0, 0);
}

.venue-location {
  opacity: 0.7;
  font-size: 0.8em;
  margin-top: -20px;
  margin-bottom: 40px;
  color: #2e1e35;
}

.venue-location a {
  color: #2e1e35;
}

.venue-location a:hover {
  color: #2e1e35;
}

a.button {
  text-decoration: none;
  color: #fff;
  font-size: 0.7em;
  display: inline-block;
  padding: 20px 30px;
  position: relative;
  z-index: 1;
  overflow: hidden;
  transition: all 1s cubic-bezier(0.65, 0.6, 0.2, 4);
}

a.button:before, a.button:after {
  position: absolute;
  content: '';
  display: block;
}

a.button:before {
  top: -120px;
  left: 1150px;
  z-index: -1;
  width: calc(100% + 140px);
  height: 100px;
  transition: all 1s cubic-bezier(0.25, 0.1, 0.2, 1);
  transform: skew(0deg);
  background: #ff936e;
}

a.button:after {
  top: 0;
  left: 0;
  z-index: -2;
  width: calc(100% - 2px);
  height: calc(100% - 2px);
  background: #ff6631;
  border-radius: 3px;
}

a.button:hover {
  border-radius: 3px;
}

a.button:hover:before {
  left: -50px;
  top: -20px;
}

#header {
  background: #1e1123;
  height: 45px;
  width: 100%;
  z-index: 2;
}

#header ul {
  margin: 0;
}

#header ul .nav-logo {
  height: 16px;
}

#header ul li {
  color: white;
  display: inline-block;
  padding: 10px 20px;
  float: right;
  font-size: 0.7em;
  cursor: pointer;
}

#header ul li:first-child {
  font-size: 17px;
  letter-spacing: 2px;
  padding: 10px 40px 10px 0px;
  float: left;
  text-transform: uppercase;
  margin-left: -30px;
}

#header ul li:first-child:hover a {
  color: white;
}

#header ul li.menu-button {
  display: none !important;
}

#header ul li:hover {
  color: #b8a8bf;
}

#header.is-fixed {
  position: fixed;
  top: 0;
  box-shadow: -5px 3px 16px #2e1e35;
}

section {
  padding-top: 2em;
  padding-bottom: 2em;
}

section img.icon {
  height: 100px;
  width: auto;
}

section h2 {
  padding-bottom: 1.5em;
  margin-top: 0;
}

#code-conduct hr {
  border-color: #b8a8bf;
}

#code-conduct ul li {
  font-size: 0.7em;
  list-style-type: circle;
}

footer {
  background-color: #2e1e35;
  color: #ffffff;
}

footer .row {
  padding-bottom: 1em;
}

footer .logo-footer-blended {
  width: 60px;
  margin-top: -20px;
}

footer .logo-footer-nodeconf {
  width: 150px;
}

footer .footer-right {
  text-align: right;
}

footer .footer-left {
  text-align: left;
}

footer .extra-info {
  background: #1e1123;
  font-size: 10px;
  display: inline-block;
  width: 100%;
  text-align: right;
}

footer .extra-info img {
  height: 30px;
  vertical-align: middle;
}

footer .contact {
  background: #1e1123;
  text-align: center;
}

footer .contact h6, footer .contact a {
  display: inline-block;
  margin: auto;
  margin-top: 10px;
  font-weight: 300;
}

footer .contact .wrap {
  max-width: 1000px;
  margin: auto;
  padding: 0;
}

footer .contact .link-wrap {
  text-align: right;
}

footer .contact .link-wrap iframe {
  vertical-align: middle;
  margin: 0 0 3px 20px;
}

footer .contact a:first-of-type {
  margin-left: 16px;
  margin-right: 16px;
}

footer .credits a, footer .credits b {
  font-size: 0.7rem;
}

footer .cookies {
  display: none;
  width: 100%;
  padding: 10px 0;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.7);
  color: #fff;
  font-size: 13px;
}

footer .cookies p {
  margin: 0;
}

footer .cookies a {
  text-decoration: underline;
}

footer .cookies a, footer .cookies button {
  display: inline-block;
}

footer .cookies button {
  position: absolute;
  right: 10px;
  top: 50%;
  padding: 0;
  margin: -12px 0 0;
  background: transparent;
  border: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

footer .cookies .container {
  box-sizing: border-box;
  max-width: 100%;
  margin: 0 auto;
  padding: 0 10px;
  position: relative;
}

footer .cookies.is-open {
  display: block;
}

@media (max-width: 991px) {
  #header.is-fixed li.menu-button {
    display: block !important;
    padding: 10px;
    cursor: pointer;
  }
  #header ul .mobile {
    display: block !important;
  }
  #header ul .desktop {
    display: none;
  }
  #header ul li {
    padding-top: 13px !important;
  }
  #header ul li.logo-wrap {
    margin-left: 20px;
    padding-left: 20px;
    padding-right: 20px;
    font-size: 13px;
  }
  #header ul li.logo-wrap img {
    height: 13px;
  }
  #header ul li.menu-button {
    display: none;
  }
  #header ul li:not(:first-child) {
    display: none;
  }
  #header .menu-mobile.is-open {
    display: flex !important;
  }
  #header .menu-mobile.is-open li.menu-button {
    display: none !important;
  }
  #header .menu-mobile {
    display: none !important;
    height: 100vh;
    width: 100%;
    flex-wrap: wrap;
    background: #2e1e35;
  }
  #header .menu-mobile ul {
    margin: 20% auto;
    width: 70%;
    height: 40%;
  }
  #header .menu-mobile ul li {
    display: inline-block !important;
    width: 100%;
    height: 25%;
    font-size: 17px;
    letter-spacing: 2px;
    padding: 10px 20px;
    text-transform: uppercase;
  }
  #header .menu-mobile ul li:first-child {
    float: right !important;
  }
  #header .menu-mobile ul li .fa-circle {
    opacity: 0.6;
  }
  #header .menu-mobile ul li .fa-inverse {
    color: #2e1e35;
  }
  .page-wrap {
    text-align: center;
  }
  footer .page-wrap {
    padding: 0 2em;
  }
}

@media (max-width: 767px) {
  .desktop {
    display: none !important;
  }
  .mobile {
    display: block !important;
  }
  .footer-right,
  .footer-left {
    text-align: center  !important;
  }
  ul {
    padding: 0;
  }
  .conf-title {
    font-size: 1.3em;
  }
  .header {
    padding: 0;
  }
  .banner {
    padding: 1.2em;
  }
  .logo {
    margin-bottom: 0;
  }
  .logo img {
    max-width: 185px;
  }
  .logo.logo:before {
    margin-top: 92px;
    max-width: 295px;
  }
  .header-title {
    font-size: 1.4em !important;
    margin-top: 30px;
  }
  .venue-location {
    margin-top: -20px;
  }
}
